@page
@model Bestshop.Pages.Admin.Users.IndexModel
@{
}

<h2 class="my-3">Danh sách người dùng</h2>

<!-- Nút Thêm Người Dùng -->
<a asp-page="./CreateUser" class="btn btn-success mb-3">Thêm người dùng</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Role</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model.listUsers)

        {
            <tr>
                <td>@user.id</td>
                <td>@user.firstname @user.lastname</td>
                <td>@user.email</td>
                <td>@user.phone</td>
                <td>@user.address</td>
                @if (user.role.Equals("admin"))

                {
                    <td><span class="badge bg-danger">@user.role</span></td>
                }

                else

                {
                    <td><span class="badge bg-primary">@user.role</span></td>
                }
                <td>@user.createdAt</td>
                <td>
                    <!-- Nút Sửa -->
                    <a asp-page="./EditUser" asp-route-id="@user.id" class="btn btn-warning btn-sm">Sửa</a>
                    <!-- Nút Xóa -->
                    <form asp-page-handler="Delete" method="post" asp-route-id="@user.id" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này?');">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.totalPages; i++)

        {
            <li class="page-item @(i == Model.page ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>
